body {
    background-color: rgb(0, 255, 255);
}
body {
    background-color: cyan;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: #111;
  }
  
.active {
    background-color: #04AA6D;
  }
h1 {
    color: red
}
h2 {
    color: green
}
h3 {
    color: pink
}
h4 {
    color: grey
}
h5 {
    color: yellow
}
h6 {
    color: orange
}
p {
    color: greenyellow
}
i {
    color: brown
}
b {
    color: red
}