body {
    background-color: rgb(217, 255, 80);
}

ul.a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(113, 115, 120);
  }
  
li.a {
    float: left;
  }
  
li.a a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li.a a:hover:not(.active) {
    background-color:red
  }
  
.active {
    background-color: lightcoral;
  }

  h1 {
    color: red
}
h2 {
    color: green
}
h3 {
    color: pink
}
h4 {
    color: grey
}
h5 {
    color: yellow
}
h6 {
    color: orange
}
p {
    color: rgb(0, 0, 0)
}
i {
    color: brown
}
b {
    color: red
}
  
div.box1{
    margin: 10px;
    width: 200px;
    height: 200px;
    transition: .5s;
    float: left;
  }
div.box2{
    margin: 10px;
    width: 200px;
    height: 200px;
    transition: .5s;
    float: left;
  
}
.box3 {
    margin: 10px;
    width: 200px;
    height: 200px;
    transition: .5s;
    float: left;
  
}

div.box4{
    margin: 10px;
    width: 200px;
    height: 200px;
    transition: .5s;
    float: left;
}

.box1:hover{
    transform: scale(1.1);}
.box2:hover{
    transform: scale(1.1);}
.box3:hover{
    transform: scale(1.1);}
.box4:hover{
    transform: scale(1.1);}

    body {
        min-height: 100vh;
    }
    footer {
        margin-top: 100px;
    }
    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    footer{
        margin-top: auto;
    }